body{
    background: rgb(243, 232, 218);
}

header{
    height: 250px;
    background-image: url("keyboard1.png");
    background-size: cover;
}

.logo{
    font-family: 'Sacramento', cursive;
    font-size: 450%;
    color: brown;
    text-align: center;
}

.container1{
    width: 800px;
    height: auto;
    background: burlywood;
    margin: auto;
    padding-bottom: 230px;
}

nav ul{
    list-style-type: none;
    margin: auto;
    padding: 5px;
    overflow: hidden;
    background-color: brown;

}

nav li{
    float: left;
}

nav li a{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    display: inline-block;
    color: blanchedalmond;
    text-align: center;
    padding: 3px 8px;
    text-decoration: none;
}

nav li a:hover{
    background-color: burlywood;
    color: brown;
}

.kotak1{
    width: 500px;
    height: 100px;
    margin: 25px;
    float: left;
}

.kotak1 .judul1{
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-top: 10px;
}

.tanggal1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    color: black;
    margin-left: 10px;
    margin-bottom: 5px;
}

.kotak1 img{
    width: 200px;
    height: 100px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.kotak1 p{
    margin: 0px 10px 9px 10px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.kotak2{
    width: 200px;
    height: 100px;
    margin: 25px;
    float: right;
    padding-bottom: 320px;
}

.kotak2 .judul2{
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-top: 2px;
}

.tanggal2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: black;
}

.kotak2 img{
    width: 120px;
    height: 70px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.kotak2 .judulsidebar{
    font-family: 'Courier New', Courier, monospace;
    background-color: brown;
    color: bisque;
    text-align: center;
    padding: 1px;
}

.kotak2 .isi{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 12px;
    padding-bottom: 30px;
}

.kotak2 .isi img{
    width: 75px;
    height: 100px;
    border-radius: 20%;
}

article{
    width: 800px;
    height: auto;
    margin: auto;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

article .konten{
    box-sizing: border-box;
    width: auto;
    height: auto;
    margin: 15px 15px 15px 15px;
    background: rgb(243, 232, 218);
    border-radius: 10px;
    float: left;
}

article .konten .judul{
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-top: 10px;
}

article .konten .tanggal{
    font-family: 'Courier New', Courier, monospace;
    font-size: 11px;
    color: black;
    margin-left: 10px
}

article .konten p{
    margin: 0px 10px 9px 10px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

article .konten img{
    width: 710px;
    height: 400px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

footer{
    width: 800px;
    margin: auto;
    padding: 0.1px;
    background-color: brown;
    color: blanchedalmond;
    text-align: center;
}
